/* перенести локально */

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap') */

/* @font-face {
	font-family: "GT Eesti Pro Display";
	src: url("GTEestiProDisplay-Light.eot");
	src: local("GT Eesti Pro Display Light"), local("GTEestiProDisplay-Light"),
		url("GTEestiProDisplay-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GT Eesti Pro Display";
	src: url("GTEestiProDisplay-LightItalic.eot");
	src: local("GT Eesti Pro Display Light Italic"),
		local("GTEestiProDisplay-LightItalic"),
		url("GTEestiProDisplay-LightItalic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "GT Eesti Pro Display";
	src: url("GTEestiProDisplay-Regular.eot");
	src: local("GT Eesti Pro Display Regular"), local("GTEestiProDisplay-Regular"),
		url("GTEestiProDisplay-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GT Eesti Pro Display";
	src: url("GTEestiProDisplay-RegularItalic.eot");
	src: local("GT Eesti Pro Display Regular Italic"),
		local("GTEestiProDisplay-RegularItalic"),
		url("GTEestiProDisplay-RegularItalic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "GT Eesti Pro Display";
	src: url("GTEestiProDisplay-Medium.eot");
	src: local("GT Eesti Pro Display Medium"), local("GTEestiProDisplay-Medium"),
		url("GTEestiProDisplay-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GT Eesti Pro Display";
	src: url("GTEestiProDisplay-MediumItalic.eot");
	src: local("GT Eesti Pro Display Medium Italic"),
		local("GTEestiProDisplay-MediumItalic"),
		url("GTEestiProDisplay-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
} */

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

